.continue-btn {
  background-image: linear-gradient(to right, #d4af37, #6e5b1d);
  color: white !important;
  border: none !important;
}

.btn {
  border-radius: 8px;
}

.paypal {
  text-align: center;
  margin-top: 20px;
  border: #6e5b1d 2px;
}
.paypal .btnpaypal {
  display: inline-block;
}
